@font-face {
    font-family: 'berlin-sans-fb-demi-bold';
    font-style: normal;
    font-weight: normal;
    src: local('berlin-sans-fb-demi-bold'), url('../fonts/berlin-sans-fb-demi.woff') format('woff');
}