.phonemes-container {
    padding-top: 20px;
    height: 100%;
}

.phoneme-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
 
.phoneme-element {
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
    color: #000;
}

.phoneme-element:hover,
.phoneme-element-selected {
    color: #fff;
    background: #000;
}