.pop-up-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.95);
    justify-content: center;
    visibility: hidden;
}

.pop-up-container {
    align-self: center;
}

.pop-up-content {
    height: 620px;
    width: 500px;
    line-height: 500px;
    background: black;
    color: white;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.pop-up-content-opaque {
    opacity: 1;
    visibility: visible;
}

.pop-up-text-container {
    display: inline-block;
    white-space: nowrap;
    margin: auto;
    line-height: 1;
    pointer-events: none;
}

.pop-up-icon-container {
    position: absolute;
    right: 20px;
}

.pop-up-image-container>img {
    width: 100%;
    height: 100%;
}

.highlight-text {
    text-decoration: underline;
}

.pop-up-icon-container.arrow {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 0;
    line-height: 0;
}

.left-arrow {
    left: 20px;
}

@media only screen and (max-width: 600px) {

    .pop-up-content,
    .pop-up-container {
        max-width: 100%;
    }

    .pop-up-content {
        height: auto;
    }
}