@import '../config.scss';

.word-list-container {
    padding: 20px 0 0 0;
    height: 100%;
    width: 100%;
}

.word-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.word-element {
    width: 150px;
    background: $buttonBackground;
    color: $buttonTextColor;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.word-element:hover {
    border: 2px solid $buttonHoverBorder;
    padding: 8px 0;
}

.word-element > a {
    color: #ffffff !important;
}

.word-element > .highlight-text {
    color: #fd8214 !important;
}