$color1: #000;
$color2: #fff;
$color3: #6abbec;


$textBoxBorderBottom: $color1;
$textBoxFocusBorderBottom: $color3;


$placholderColor: #999999;   


$buttonBackground: $color1;
$buttonTextColor: $color2;
$buttonHoverBorder: $color2;